/*Image Margining and Adjustment*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

section {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/*Font Assignment*/
h1 {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 35px;
    font-style: b;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

p {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 18px;
}

li {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 15px;
    font-weight: bold;
}

.image {
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Banner */
.top-banner {
    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;
    background: #0b1f3a;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;
}

.logo img {
    height: 50px;
}

/*Navigation Menu*/
.nav-menu {
    list-style: none;
    display: flex;
    background: #132a4f;
    border-radius: 14px;
    padding: 5px;
}

.nav-menu li {
    padding: 10px 18px;
    border-radius: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-menu li:hover {
    background: #1e3a5f;
}

.nav-menu .active {
    background: #2f5aa8;
}


/* Hero/Banner Image*/
.hero {
    width: 100%;
    height: 220px; /* fixed height */
    overflow: hidden; /* crops any overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 0;
}

.hero img {
    width: 100%;       /* stretches across screen */
    height: auto;      /* so it doesn't image warp */
    min-height: 100%;  /* like forces the height */
    object-fit: cover; /* crops the image when needed */
}

/* Table styling - This is for actual statistics */
table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
    border: 0px solid #dcdcdc;
}

/* Header Row */
th {
    background-color: #e6e6e6;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    font-family: Montserrat;
    border-top: 0px solid #eeeeee;
    border-left: 0px solid #eeeeee;
}

/* Normal cells */
td {
    padding: 12px;
    border-top: 0px solid #eeeeee;
    border-left: 0px solid #eeeeee;
    font-family: Montserrat;
}

td ul {
  margin: 0;
  padding-left: 18px;
}

td li {
  margin: 2px 0;
  font-weight:normal;
}

/* ^^ Did I srly spend that much research on one assignment :skull: ^^ */

/*Banner separation thingo */
.company-banner {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b1f3a;
    margin: 40px 0 20px 0;
}

.company-banner img {
    height: 50px; 
    width: auto;
    object-fit: contain;
    margin: 0;
}

/* IDK? I did this so that then each company more distinctive */
.airbus-banner {
    background-color: #00205B; /* Airbus Blue */
}

.boeing-banner {
    background-color: #0039A6; /* Boeing Blue */
}

.lockheed-banner {
    background-color: #003478; /* Lockheed Blue */
}

.footer {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #0b1f3a;
    margin: 40px 0 20px 0;
}